$ff: 'Roboto', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$ff2: 'Sansus Webissimo', 'Helvetica', sans-serif;
$bg-page: #35644c;
$bg-hover: #4e8839;
$bg-btn: #6c9c5a;
$c-text: #373e42;
$c-placeholder: #566358;
$c-light: #fff;
$c-sage: #566358;
$bg-error: #e44845;
$c-border: #729e19;
$bg-auth: rgba(18, 38, 32, 0.6);
$bg-social: #ffffff;
$dur-hover: 0.4s;
$bg-title: #93c42e;
