header.header
	.header__bg
	.header__top
		.header__social
			+social(socialList)
		nav.header__menu
			+nav(navList)(class="header__nav navigation--column")
		a.toggle(href="#")
				span.toggle__line
	.header__middle
		block user
			+user()(class="header__user user--size-big")

		block headerPortfolio
			+icon-svg("portfolio_header").header__bg-pic

		a(href=`#${href}` class='header__arrow-link arrow-link arrow-link--down')
			+icon-svg("arrow_down")(class="arrow-link__icon-down")

		block triangle-header
			<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="header__triangle">
				<polygon class = 'header__triangle-left' points='0,0   0,86   500.8,86   500.8,75.5'></polygon>
				<polygon class = 'header__triangle-right' points='1000,0   1000,86   500,86   500,75.5'></polygon>


