.slider
	.slider__display
		img(src="#", alt="")
	.slider__info
		h3.title.slider__title Сайт школы онлайн Образования
		.slider__skills HTML , CSS, JAVASCRIPT
		a.btn.slider__btn(href="#")
			+icon-svg("link").btn__icon
			|Посмотреть сайт
	.slider__controls
		a(href='#' class='slider__controls-item slider__controls-item--prev')
			+icon-svg("arrow_down").slider__controls-icon
		a(href='#' class='slider__controls-item slider__controls-item--next')
			+icon-svg("arrow_down").slider__controls-icon

