.user
	.user__wrap-avatar
		img.user__avatar(src="./assets/img/Me.jpg", alt="Александр Егоричев" width="141" height="141")
	block userInfo
		span.user__name.
			Александр Егоричев
		p.user__text.
			Личный сайт веб разработчика
