.contacts {
	position: relative;
	height: 907px;
	margin-bottom: -208px;

	@include mobile {
		height: 1140px;
	}
}

.contacts__map {
	width: 100%;
	height: 100%;
	background: red;
}

.contacts__card {
	@include centered-align(horizontal);
	top: 230px;
	background-color: rgba(#f4f5f0, 0.85);

	@include desktop-only {
		top: 170px;
		background-color: rgba(#f4f5f0, 1);
	}

	@include mobile {
		top: 0;
		width: 100%;
		background-color: rgba(#f4f5f0, 0.85);
		border-radius: 0;
	}
}
