.footer {
	display: flex;
	flex-wrap: wrap;
	flex: 0 0 auto;
	background-color: rgba(#373e42, 0.85);

	@include tablet {
		flex-direction: column;
	}
}

.footer__section {
	position: relative;
	width: 33.3%;
	flex: 1 0 400px;
	padding: 30px;
	text-align: left;

	&--1:after,
	&--2:after {
		content: "";
		position: absolute;
		top: 35px;
		right: 0;
		width: 1px;
		height: 60%;
		background-color: rgba(#ffffff, 0.2);
	}

	@include tablet {
		width: 100%;
		flex: 1 0 auto;
		text-align: center;

		&--1:after,
		&--2:after {
			top: auto;
			bottom: 0;
			right: 10px;
			left: 10px;
			width: auto;
			height: 1px;
		}

		&--2:after {
			height: 2px; //bug
		}
	}
}

.footer__text {
	font-weight: 300;
	line-height: 1.5;
	color: #ffffff;
}

ul.footer__nav {
	margin-bottom: 25px;

	@include desktop {
		justify-content: flex-start;
	}

	@include mobile {
		display: flex;
		justify-content: center;
	}
}

.footer__social {
	@include i-b(top);
}

.footer__blockquote,
.footer__bq-author {
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-style: italic;
	line-height: 1.63;
	color: rgba(#ffffff, 0.5);
}

.footer__bq-author {
	font-weight: 700;
}

.footer__copyright {
	width: 100%;
	padding: 10px;
	font-weight: 300;
	line-height: 1.5;
	text-align: center;
	color: #ffffff;
	background-color: rgba(#6c9c5a, 0.85);
}
