.title {
	position: relative;
	@include i-b(top);
	margin: 70px 0;
	font-family: $ff2;
	font-size: 63px;
	line-height: 1.17;
	text-transform: uppercase;
	text-align: center;
	color: $c-light;
	z-index: 10;

	@include tablet {
		font-size: 49px;
	}

	@include mobile {
		font-size: 35px;
	}

	&:after {
		content: "";
		bottom: -25px;
		@include centered-align(horizontal);
		width: 30%;
		height: 3px;
		background-color: $c-light;
	}

	&--sub {
		font-size: 35px;
		margin: 0;
		margin-bottom: 40px;

		@include tablet {
			font-size: 30px;
		}

		@include mobile {
			font-size: 21px;
		}
	}
	&.title--color-dark {
		color: $c-text;

		&:after {
			background-color: $c-text;
		}
	}
	&.title--color-sage {
		color: $c-sage;

		&:after {
			background-color: $c-sage;
		}
	}
}

.title__bg {
	@extend %block-center;
	z-index: -1;
	width: 150%;
	height: auto;
	fill: rgba($bg-title, 0.2);
}
