.title {
	position: relative;
	margin-bottom: 60px;
	font-family: $ff2;
	font-size: 35px;
	line-height: 1.17;
	text-align: center;
	color: #ffffff;

	&:after {
		content: "";
		bottom: -25px;
		@include centered-align(horizontal);
		width: 40%;
		height: 3px;
		background-color: #ffffff;
	}
}
