.user {
	text-align: center;

	&--size-big .user__name {
		font-size: 35px;

		@include mobile {
			font-size: 21px;
		}
	}
}

.user__wrap-avatar {
	width: 141px;
	height: 141px;
	margin: 0 auto;
	margin-bottom: 15px;
	background-color: #e2e2e2;
	border-radius: 50%;
	overflow: hidden;
}

.user__avatar {
	width: 100%;
	height: auto;
}

.user__name {
	margin-bottom: 10px;
	font-size: 28px;
	font-weight: 500;
	line-height: 1.21;
	color: #ffffff;
}

.user__title {
	margin-top: 30px;
	margin-bottom: 63px;

	svg {
		width: 200%;
		height: 200px;
		fill: rgba(#fff, 0.12);
	}
}

.user__text {
	margin: 0;
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 1.5;
	color: rgba(255, 255, 255, 0.8);
}
